@page "/"

@using BlazorApp3.Shared
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Caching.Memory

@inject ProtectedSessionStorage ProtectedSessionStore
@inject PostFormService PostFormService
@inject NavigationManager NavigationManager
@inject IMemoryCache memoryCache

<button class="btn btn-primary my-6" @onclick="ViewPaymentSelections">View Payment Selections</button>

@code {
    // This parameter is supplied from the query string, if available
    [Parameter]
    [SupplyParameterFromQuery(Name = "sid")]
    public string? SessionGuid { get; set; }

    private PaymentSelections? paymentSelections;

    protected override async Task OnInitializedAsync()
    {
        var requestForm = PostFormService.Form;

        if (!string.IsNullOrEmpty(requestForm?["acct"]))
        {
            paymentSelections = new PaymentSelections { AccountNumber = requestForm["acct"] };

            // Store the session key and payment selection in memory cache
            memoryCache.Set(paymentSelections.SessionGuid, paymentSelections);

            // Navigate to the same page but with a query parameter for the session GUID
            NavigationManager.NavigateTo($"?sid={paymentSelections.SessionGuid}");
        }

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // If there's a session GUID in the query string, attempt to retrieve the PaymentSelections from the memory cache
            if (!string.IsNullOrWhiteSpace(SessionGuid))
            {
                paymentSelections = memoryCache.Get<PaymentSelections>(SessionGuid);

                // If a session exists, store the data in the ProtectedSessionStorage
                if (paymentSelections != null)
                {
                    await ProtectedSessionStore.SetAsync("ProtectedSessionData", paymentSelections);
                }
            }
            else
            {
                //You may try getting it from session storeage instead.
            }
        }
    }

    private void ViewPaymentSelections()
    {
        NavigationManager.NavigateTo("/view");
    }
}
